.body { 
  font-family: 'Abel', sans-serif;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
  
.header a {
  color: black;
  text-align: center;
  font-family: 'Abel', sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 30px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
}
  
.logo {
  height: 31%;
  width: 31%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-left  {
  float: none;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
  
.header a.active {
  background: rgb(254, 189, 89);
  color: white;
}   

.header-right {
  float: right;
}
.banner{
  background-image: url(SchotelkoeMain.jpeg);
  width: 100%;
  height: 600px;
  background-position: absolute;
}
.banner p{
  font-size: 60px;
  color: white;
  text-align: left;
  font-family: 'Abel', sans-serif;
  padding-top: 100px;
  margin-left: 100px;
}
.button{
  font-size: 30px;
  color: white;
  text-align: left;
  font-family: 'Abel', sans-serif;
  padding: 3px;
  margin-left: 100px;
  background-color:#E94601 ;
  border: 1px solid white;
  border-radius: 5px;
}
.product {
  margin-top: 10px;
  background-color: rgb(114, 111, 111);
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
}

@media screen and (max-width :800Px){
  .header, .header a, header-left, header-right{
    position: relative;
  }
}
  
.col{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ingridient{
  margin-top: 10px;
  background-color: rgb(114, 111, 111);
  padding: 20px 10px;
  overflow: hidden;
}
.small-container-1{
  max-width: 1080px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.col-1{
  flex-basis: 30%;
  justify-content: space-evenly;
  min-width: 150px;
  margin-bottom: 30px;

}
.col-1 img{
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 25px 25px;
  justify-content: space-evenly
}
.small-container-cp{
  margin: 80px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  background-color:#E94601;
  color: #ffffff;
  font-family: 'Abel', sans-serif;
}
td{
  padding: 10px 10px;
  font-family: 'Abel', sans-serif;
}
td input{
  width: 20px;
  height: 20px;
  padding: 5px;
  font-family: 'Abel', sans-serif;
}
td a{
  color:red;
  font-size: 15px;
  font-family: 'Abel', sans-serif;
} 
td img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top:3px solid #E94601;
  width: 100%;
  max-width: 350px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.footer {
  overflow: hidden;
  background-color: rgb(254, 189, 89);
  padding: 20px 10px;
}
.footer p{
  text-align: left;
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: white;
}
.footer a{
  text-align: left;
  padding: 5px;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: white;
}
h1 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
  padding: 8px;
  text-decoration: none;
  margin-top: 20px;
}
h2 {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-top: 5px;
}
h3 {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  text-align: center;
  color:white;
  margin-top: 5px ;
  background-color: #E94601;
  padding: 5px;
}
a {
  text-decoration: none;
}
label {
  font-family: 'Abel', sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: #E94601;
  font-family: 'Abel', sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background:  rgb(254, 189, 89);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color:  #E94601;
  font-family: 'Abel', sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right,  #E94601, rgb(247, 226, 226));
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #E94601;
  cursor: pointer;
  color: white;
  font-family: 'Abel', sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px  #E94601;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #E94601, rgb(247, 226, 226));
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right,  #E94601, rgb(247, 226, 226));
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
a {
  text-decoration: none;
}
body {
  background: -webkit-linear-gradient(bottom #E94601,rgb(247, 226, 226));
  background-repeat: no-repeat;
}
label {
  font-family: 'Abel', sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color:  #E94601;
  font-family: 'Abel', sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background:  rgb(254, 189, 89);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: p #E94601;
  font-family: 'Abel', sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right,  #E94601, rgb(247, 226, 226));
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #E94601;
  cursor: pointer;
  color: white;
  font-family: 'Abel', sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #E94601;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #E94601, rgb(247, 226, 226));
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #E94601, rgb(247, 226, 226));
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
